/Databank.db4o

/FarmerModel/nbproject/private/
/FarmerModel/build/

/WeatherFrame/nbproject/private/
/WeatherFrame/build/
/FarmerModel_backup/nbproject/private/
/FarmerModel/FarmerModel/build/
/FarmerModel/FarmerModel/nbproject/private/
